# .gitignore -- ~/projects/ruby/...

.project
/.bundle
/test*
/Test*
/tmp
/misc/*.rb_old
/misc/*.rb_original
*.rb.backup
*.rb_old
*.rb_original
*.rb.*
*.md5
*.sha*
*.ripemd*

PreliminaryIdeas/*
*.txt
*.sublime*

# VMS command files -- ignore in this context
*.COM
